{% extends 'asha/base.html' %}
{%block title%}{{ category.name }}{% endblock %}

{% block body_block %}
        <div class="hero-unit">
        {% if category %}
          <h1>{{ category_name }}</h1>
              {% if pages %}
              <ul>
                  {% for page in pages %}
                  <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                  {% endfor %}
              </ul>
              {% else %}
                  <strong>No pages currently in category.</strong>
              {% endif %}
          {% if user.is_authenticated %}

          <br>
          <a href="/asha/category/{{ category_name_url }}/add_page/">Add page to this Category</a>
          {% endif %}
          {% else %}
              The specified category {{ category_name }} does not exist!
          {% endif %}
        </div>
{% endblock %}
