<!DOCTYPE html>
{% load static %}
<head>
  <title>प्रिय ऋषिता-Happy Rose Day</title>
  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/asha-ajax.js' %}"></script>
  <link href="{% static 'css/bootstrap-fluid-adj.css' %}" rel="stylesheet">
  <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">
   <link href="{% static 'css/new.css' %}" rel="stylesheet">
</head>
<body style="background: url('/static/ph/back.jpg') no-repeat;
  background-size:cover;">
  <br><br><br>
  <div class="hero">
      <div class="span1" >

      </div>
      <div class="span3 " ><br><h2 style=" position:relative;margin:auto auto;align:center;text-alignment:center;">कुछ यादें</h2>
        <hr>
        <br><br><br><br><br>
        <div class="circular" style="background: url('/static/ph/1.jpg') no-repeat;
        	background-size:cover;"></div>
        <hr/>
        <div class="circular" style="background: url('/static/ph/7.jpg') no-repeat;
        	background-size:cover;"></div>

        <hr/>
        <div class="circular" style="background: url('/static/ph/2.jpg') no-repeat;
          background-size:cover;"></div>

        <hr/>
        <div class="circular" style="background: url('/static/ph/8.jpg') no-repeat;
        	background-size:cover;"></div>
          <br><br><br><br><br>
      </div>
      <div class="span4 4" style="background-color:'cornflowerblue'"><br>
        <div class="circular_big" style="background: url('/static/ph/9.jpg') no-repeat;
          background-size:cover;"></div>
        <hr/>
        <div class="circular_big" style="background: url('/static/ph/6.jpg') no-repeat;
          background-size:cover;"></div>
          <hr/>
          <p style="text-align: center;
    text-transform: none;
    text-rendering: optimizeSpeed;
    text-decoration: blink;"><span>Raaz me salwate padi hai teri bekarari dhadkan meri ban gayi hai |<br>
                                pakar tujhe jaise jahan pa liya hai mukaddar me sara jahan likhawa diya hai |<br>
                                Rooh ko ujala deta noor ho tum sirf zindigi nahi hakikat tumhe bana liya hai |</span></p>
          <hr/>
          <div class="circular_big" style="background: url('/static/ph/11.jpg') no-repeat;
            background-size:cover;"></div>
            <hr/>
            <div class="circular_big" style="background: url('/static/ph/20.jpg') no-repeat;
              background-size:cover;"></div>


      </div>
      <div class="span3 3" style="background-color:'darkseagreen'"><br>
        <h2 style=" position:relative;margin:auto auto;align:center;text-alignment:center;">कुछ तस्वीरें</h2><hr>
        <br><br><br><br><br>
        <div class="circular" style="background: url('/static/ph/3.jpg') no-repeat;
          background-size:cover;"></div>
        <hr/>
        <div class="circular" style="background: url('/static/ph/4.jpg') no-repeat;
          background-size:cover;"></div>
          <hr/>
          <div class="circular" style="background: url('/static/ph/5.jpg') no-repeat;
            background-size:cover;"></div>

          <hr/>
          <div class="circular" style="background: url('/static/ph/10.jpg') no-repeat;
            background-size:cover;"></div>

                        <br><br><br><br><br><br>
        </div>


      <div class="span1"></div>
</div>
</body>
</html>
